/*
    Space Grotesk
    author: Florian Karsten
    License: SIL Open Font License
    website: https://fonts.floriankarsten.com/space-grotesk
    Thank you at him !
*/

/* Regular */
@font-face {
    font-family: "SpaceGrotesk";
    src: url("../font/SpaceGrotesk-Regular.woff") format("woff");
    src: url("../font/SpaceGrotesk-Regular.woff2") format("woff2");
}

/* Medium */
@font-face {
    font-family: "SpaceGrotesk-Medium";
    src: url("../font/SpaceGrotesk-Medium.woff") format("woff");
    src: url("../font/SpaceGrotesk-Medium.woff2") format("woff2");
}

/* Bold */
@font-face {
    font-family: "SpaceGrotesk-Bold";
    src: url("../font/SpaceGrotesk-Bold.woff") format("woff");
       src: url("../font/SpaceGrotesk-Bold.woff2") format("woff2");
}

/*
    Cabin
    Author: Google font
    website: https://fonts.google.com/specimen/Cabin
 */

/* Regular */
@font-face {
    font-family: "Cabin-Regular";
    src: url("../font/Cabin-Regular.ttf") format("ttf");
}

/* Regular Italic */
@font-face {
    font-family: "Cabin-Italic";
    src: url("../font/Cabin-Italic.ttf") format("ttf");
}

/* Medium */
@font-face {
    font-family: "Cabin-Medium";
    src: url("../font/Cabin-Medium.ttf") format("ttf");
}

/* Medium Italic */
@font-face {
    font-family: "Cabin-MediumItalic";
    src: url("../font/Cabin-MediumItalic.ttf") format("ttf");
}

/* Bold */
@font-face {
    font-family: "Cabin-Bold";
    src: url("../font/Cabin-Bold.ttf") format("ttf");
}

/* Bold Italic */
@font-face {
    font-family: "Cabin-BoldItalic";
    src: url("../font/Cabin-BoldItalic.ttf") format("ttf");
}

