/*!* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*!

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

!* HTML5 display-role reset for older browsers *!
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}*/

h1 {
    font-family: SpaceGrotesk-Bold, sans-serif;
    font-size: 60px;
    color: var(--blueberry);
}

h2 {
    font-family: SpaceGrotesk-Bold, sans-serif;
    font-size: 28px;
    color: var(--blueberry);
}

.chapo {
    font-family: SpaceGrotesk-Medium, sans-serif;
    font-size: 24px;
    color: var(--blueberry);
    line-height: 1.63;
}

p {
    font-family: Cabin-Regular, sans-serif;
    font-size: 20px;
    line-height: 1.85;
    color: var(--text);
}


p a {
    color: var(--tealish);
    text-decoration: none;
    border-bottom: 1px solid var(--tealish);
}

p a:hover {
    color: var(--tealish);
    text-decoration: none;
}

.exergue {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    background-color: rgba(var(--tealishRGB), .15);
    margin: 0;
    padding: var(--exergue-top) 150px 41px var(--exergue-left);
}

.exergue-sign {
    position: absolute;
    top: calc(var(--exergue-top) - 40px);
    left: calc(var(--exergue-left) - 80px);
    display: block;
    font-family: SpaceGrotesk-Medium, sans-serif;
    font-size: 129px;
    color: var(--text);
    text-shadow: -10px 10px rgba(var(--textRGB), .16);
}

.exergue-quote {
    font-family: SpaceGrotesk-medium, sans-serif;
    font-size: 49px;
    line-height: 1.37;
    color: var(--text);
    margin: 0;
}

.exergue-author {
    font-family: SpaceGrotesk, sans-serif;
    font-style: italic;
}

img {
    border-radius: 5px;
    border: 2px solid rgba(255, 255, 255, .1);
    max-height: 507px;
    object-fit: cover;
}

.photo-frame {
    background-color: var(--blueberry);
    padding: 46px 0 46px 117px;
    overflow: hidden;
}

.photo-frame h3 {
    font-family: SpaceGrotesk-Bold, sans-serif;
    font-size: 50px;
    color: white;
}

.photo-frame p {
    font-size: 18px;
    color: white;
}

.photo-frame img {
    display: block;
    object-fit: cover;
}

.photo-frame a {
    font-family: Cabin-Regular, sans-serif;
    border-radius: 5px;
    text-decoration: none;
    color: white;
}

.qwesttv-link {
    display: inline-flex;
    align-items: center;
    font-family: Cabin-Regular, sans-serif;
    border-radius: 5px;
    padding: 17px 18px;
    text-decoration: none;
    color: white;
}

.qwesttv-link.active {
    background-color: var(--blueberry);
}

.qwesttv-link.inactive {
    border: 1px solid white;
}

.item {
    display: block;
    width: 20px;
    height: 20px;
    margin-right: 21px;
}

.article-link, .article-tv-link {
    position: relative;
    width: 360px;
    height: 360px;
}

.article-link img, .article-tv-link img {
    width: 360px;
    height: 360px;
    object-fit: cover;
}

.article-link .article-tag, .article-tv-link .article-tv-tag {
    position: absolute;
    top: 42px;
    left: 40px;
    border: 2px solid rgba(255, 255, 255, .3);
    border-radius: 5px;
    padding: 13px 10px 10px 10px;
    font-family: Cabin-Bold, sans-serif;
    color: white;
    text-transform: uppercase;
}

.article-link .article-title {
    position: absolute;
    left: 40px;
    bottom: 20px;
    font-family: Cabin-Bold, sans-serif;
    font-size: 24px;
    line-height: 1.25;
    color: white;
}

.article-tv-link .article-tv-tag {
    display: inline-flex;
    text-transform: none;
    background-color: var(--blueberry);
    padding-left: 23px;
    border-color: var(--paleblueberry);
}

.article-tv-link .article-tv-tag::after {
    content: '•';
    color: var(--tealish);
    height: 0;
    margin-left: 10px;
    font-size: 65px;
    line-height: 26px;
}

.card {
    width: 240px;
    height: 365px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 20px 40px -15px rgba(var(--midnightRGB), .2);
}

.card-body {
    padding: 20px 20px 5px 20px;
}

.card-img {
    width: 100%;
    height: 246px;
    border: none;
    border-radius: 5px 5px 0 0;
}

.agenda-meta {
    display: flex;
    justify-content: space-between;
}

.agenda-date {
    font-family: SpaceGrotesk-Bold, sans-serif;
    font-size: 22px;
    line-height: 1.09;
    color: var(--blueberry);
}

.agenda-place {
    font-family: SpaceGrotesk, sans-serif;
    font-size: 18px;
    line-height: 1.33;
    color: var(--blueberry);
}

.agenda-detail {
    font-family: SpaceGrotesk-medium, sans-serif;
    font-size: 18px;
    line-height: 1.33;
    margin: 10px 0 5px;
}

.btn-qwest-section {
    display: flex;
    font-family: Cabin-Bold, sans-serif;
    align-items: baseline;
    justify-content: center;
    color: var(--blueberry);
    font-size: 20px;
}

.btn-qwest-section::before {
    content: '+';
    font-family: Cabin-Bold, sans-serif;
    font-weight: 100;
    padding-right: 10px;
    font-size: 30px;
}

.btn-qwest-loadmore {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: Cabin-Bold, sans-serif;
    color: var(--blueberry);
    font-size: 20px;
}

.btn-loadmore {
    display: flex;
    width: 60px;
    height: 60px;
    font-family: Cabin-Bold, sans-serif;
    font-weight: 100;
    justify-content: center;
    margin: 15px;
    align-self: center;
    align-items: center;
    border-radius: 100%;
    border: 2px solid lightgrey;
    color: var(--blueberry);
    font-size: 30px;
}

.chronicles {
    width: 240px;
    height: 370px;
}

.chronicle-img {
    width: 240px;
    height: 240px;
}

.chronicle-meta {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 36px;
}

.chronicle-title {
    font-family: SpaceGrotesk-bold, sans-serif;
    font-size: 24px;
    color: var(--midnight);
}

.chronicle-author {
    font-family: Cabin-Italic, sans-serif;
    color: rgba(var(--midnightRGB), .5);
    font-size: 18px;
    line-height: 1.7;
    text-align: center;
}

.border {
    margin-top: 15px;
    max-width: 35%;
    padding: 40px;
    border: 2px solid lightgrey;
}

/*
 * header
*/
header {
    background-color: var(--blueberry);
}

header .navbar-expand-lg .navbar-nav .dropdown-menu {
    width: 101vw;
    left: -22vw;
    border: none !important;
    border-radius: 0 !important;
}

header a {
    display: block;
    padding: .455rem;
    border-color: 2px solid white;
    color: white;
}

header links {
    margin-left: 250px;
}

.main-menu {
    background-color: var(--blueberry);
    padding-left: 10%;
    height: 620px;
    padding-top: 40px;
    overflow: hidden;
}

.main-menu h1 {
    font-family: SpaceGrotesk-bold, sans-serif;
    font-size: 40px;
    color: white;
    margin-bottom: 1rem;
}

.main-menu .list {
    padding-left: 0;
}

.main-menu .list-item {
    list-style: none;
}

.main-menu .list-item a{
    font-family: SpaceGrotesk, sans-serif;
    list-style: none;
    padding: 0;
    line-height: 1.95;
    font-size: 20px;
    color: white !important;
}

.main-menu img {
    width: 100%;
    height: 458px;
    border: none;
    box-shadow: 10px 20px 40px -15px rgba(var(--midnightRGB), .5);
}

/*
    Footer
*/

.footer {
    width: 100%;
    padding: 60px 120px;
    background-color: var(--blueberry);
}

.footer .heading {
    font-family: SpaceGrotesk-bold, sans-serif;
    font-size: 18px;
    color: white;
    margin-bottom: 39px;
}

.footer .input-group {
    width: 100%;
    border-bottom: 2px solid rgba(var(--tealishRGB), .3);
}

.footer input {
    display: inline-flex;
    font-size: 18px;
}

.footer input[type=text] {
    border: none;
    width: 85%;
    color: rgba(var(--tealishRGB), .3);
    background-color: rgb(var(--blueberry));
}

.footer i {
    color: var(--tealish);
}

.footer .navigation-link {
    font-family: Cabin-Medium, sans-serif;
    font-size: 18px;
    color: rgba(255, 255, 255, .7);
    line-height: 2.3;
}

.footer img {
    border: none;
    margin-bottom: 15px;
}
