:root {
    /* Color scheme */
    --blueberry: #40357a;
    --blueberryRGB: 64, 53, 122;
    --paleblueberry: #7a72a2;
    --tealish: #24d6ca;
    --tealishRGB: 36, 214, 202;
    --text: #160d40;
    --textRGB: 22, 13, 64;
    --midnight: #0b0114;
    --midnightRGB: 11, 1, 20;

    /* Measure for calculating element */
    --exergue-top: 55px;
    --exergue-left: 150px;
}
